name: tests
on:
  push:
    branches-ignore:
      - 'private/**'
  pull_request:
    branches-ignore:
      - 'private/**'
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Setup Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version: 1.24.x
      - name: Run make check
        run: |
          tools/ci-build.sh
